@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: #ffffff;
    width: 100%;
}

* {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1350px;
    margin: 0 auto;
}

.title {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0;
}

.subtitle {
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
}

.desc {
    font-size: 18px;
    margin: 20px 0;
}

/* Шапка */

header {
    background: #ffffff;
}

header .container {
    padding: 50px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}

.logo__desc {
    font-size: 30px;
    width: 70%;
    font-weight: 800;
}

.logo img {
    width: 30%;
}

.menu-bar {
    display: flex;
    width: 800px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px; 
    align-items: center;
}

/* Секция основная */

.popular-contests__block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
    border-radius: 35px;
}

.content__link,
.products-link {
    padding: 15px 80px;
    color: #fff;
    background-color: #f0ca33;
    border-radius: 50px;
    font-size: 18px;
}

.content__title {
    color: #f0ca33;
}

.content__desc {
    padding: 25px 0 40px;
    font-size: 18px;
    color: #3d3d3d;
}

.content__image {
    margin: -30px 0;
    width: 1000px;
}

.content__image img {
    width: 100%;
}

/* Секция о нас */

.about-us {
    padding: 70px 0;
}

.about-us__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    gap: 80px;
}

.about-us__text__desc {
    color: #3d3d3d;
    text-align: justify;
    margin-top: 0;
}

.indicators__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator-header {
    margin-bottom: 0;
    font-size: 60px;
    color: #f0ca33;
}

.description-indicator,
.products-description {
    color: #3d3d3d;
    font-size: 16px;
}

/* Секция с товарами */

.products__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    gap: 50px;
}

.products__content-text {
    align-self: flex-start;
    width: 50%;
}

.products-title {
    margin-top: 0;
}

.products-desc {
    text-align: justify;
}

.products__content-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__content-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: flex-start;
}

.products__content-block {
    height: 280px;
    border-radius: 25px;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.products__content-block img {
    width: 100%;
}

.products-image {
    margin-top: auto;
}

.products-desc {
    margin: 30px 0 45px;
}

/*Секция с консультацией*/

.contact-form-block {
    display: block;
    margin: 0 auto 100px;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 50px;
    width: 60%;
    border: 3px solid #f0ca33;
}

.consultation__form {
    display: flex;
    flex-direction: column;
}

.consultation__subtitle {
    text-align: center;
}

.input-field input,
.input-field textarea {
    width: 600px;
    padding: 20px 0 20px 25px;
    margin: 10px 0;
    border: 3px solid #f0ca33;
    border-radius: 30px;
    background: #ffffffa5;
    color: #000000;
    width: 95%;
}

input::placeholder,
textarea::placeholder {
    color: #00000098;
}

.button-form {
    display: block;
    padding: 15px 80px;
    color: #fff;
    background-color: #f0ca33;
    border-radius: 50px;
    font-size: 18px;
    border: none;
    margin: 20px auto;
}

/* Секция подвал */

footer {
    background: #020000;
    width: 100%;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    flex-wrap: wrap;
    padding: 25px 0;
}

.desc-footer {
    color: #fff;
}


.footer__info li {
    margin-bottom: 20px;
}

.footer__info a:hover {
    color: #f0ca33;
}

.footer_copyrignt {
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.link-desc a {
    color: #fff;
}

/* Адаптивность */

@media (max-width: 1350px) {
    .container {
        width: 90%;
    }
    .menu-bar {
        width: 100%;
        justify-content: flex-end;
        gap: 20px;
    }
    .title {
        font-size: 45px;
    }
    .indicator-header{
        font-size: 40px;
    }
    .description-indicator {
        font-size: 12px;
    }
    .welcome {
        width: 640px;
    }
    .products__content {
        gap: 30px;
    }
    .products__content-cards {
        gap: 20px;
    }
    .products__content-block {
        height: 240px;
    }
    .footer {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .about-us__content {
        gap: 40px;
    }
    .products__content {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }
    .about-us__content {
        flex-direction: column;
        align-items: center;
    }
    .products__content-text {
        width: 100%;
    }
    .products__content-cards {
        margin: 30px 0;
    }
    .contact-form-block {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .popular-contests__block {
        padding: 20px 0;
    }
    .logo img {
        width: 20%;
    }
    .menu-bar {
        justify-content: center;
        width: 100%;
    }
    .indicators__block {
        justify-content: center;
    }
    .indicator {
        flex: 0 1 200px;
    }
    .indicator-header {
        font-size: 50px;
    }
    .footer__info {
        gap: 20px;
    }
}

@media (max-width: 950px) {
    .content__text {
        width: 100%;
    }
    .content__image {
        width: 100%;
        margin: 0;
    }
    .content__link {
        padding: 12px 60px;
    }
    .footer__info {
        flex-direction: column;
        text-align: center;
    }
    .footer__info ul {
        padding: 0;
    }
}

@media (max-width: 820px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 35px;
    }
    .subtitle {
        font-size: 25px;
    }
    .desc {
        font-size: 15px;
    }
    .logo__desc {
        font-size: 24px;
    }
    .menu-bar {
        gap: 15px;
    }
    .menu-bar a {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .popular-contests__block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .content__desc {
        padding: 0;
    }
    .indicators__block {
        flex-wrap: wrap;
    }
    .welcome{
        display: none;
    }
    .input-field {
        width: 95%;
    }
    .contact-form-block {
        width: 95%;
        padding: 25px 15px;
    }
    .checkbox-group label {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 28px;
    }
    .subtitle {
        font-size: 22px;
    }
    .desc {
        font-size: 14px;
    }
    .indicator-header {
        font-size: 38px;
    }
    .description-indicator,
    .products-description {
        font-size: 14px;
    }
    .products__content-block {
        height: 160px;
    }
    .products__content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products__content {
        margin: 50px;
    }
    .about-us {
        padding-bottom: 30px;
    }
    .contact-form-block {
        width: 80%;
    }
    .footer__info .logo__desc {
        font-size: 24px;
    }
    .footer_copyrignt {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 24px;
    }
    .subtitle {
        font-size: 20px;
    }
    .products__content-block {
        height: 140px;
    }
    .contact-form-block {
        border-width: 2px;
    }
    .checkbox-group {
        gap: 8px;
    }
    .checkbox-group input {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 320px) {
    .menu-bar a {
        font-size: 14px;
    }
    .indicator-header {
        font-size: 32px;
    }
    .input-field input,
    .input-field textarea {
        font-size: 15px;
    }
    a {
        font-size: 14px;
    }
}