* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #747474, #fff);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator {
    width: 470px;
    height: 700px;
    background-color: #000;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rbga(14, 30, 37, 0.12);
}
.display {
    color: white;
    font-size: 70px;
    text-align: end;
    padding-top: 20px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
}
.button {
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 28px 15px;
    width: 22%;
    margin: 10px 6px;
    font-size: 35px;
    background-color: #414141;
}
.zero-btn {
    padding: 30px 190px 26px 24px;
}
.btn-orange {
    background-color: orange;
}
.btn-gray {
    background-color: gray;
}